:root{
  --main-color: wheat;
} 

*, *:after, *:before {
  margin: 0px;
  padding: 0px; 
}

img {
  width: 100%; 
}

.header {
  
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 10vh;

  background-color: var(--main-color)
}

.marca {
  
  display: flex;
  justify-content: center;
  align-items: center; 
}

.marca h2 {  
  margin-right: 7px; 
}

.main {
  
  display: flex;
  
  justify-content: center;
  
  align-items: center;
  height: 85vh;
  padding: 0 20px; }

.caja {
  padding: 20px;
  border-radius: 10px;
  border: 1px red solid; }

.pregunta {
  text-align: center; }

.opciones {
  
  display: flex;
  
  justify-content: space-between;
  margin: 40px 0; }
  .opciones__respuesta {
    
    display: flex;
    
    flex-direction: column;
    
    justify-content: center;
    
    align-items: center;
    width: 28%;
    height: 80px;
    border: 1px red solid;
    border-radius: 5px; }

.respuesta__input {
  margin-top: 10px; }

.respuesta__input:checked .opciones__respuesta {
  background-color: red; }
